<section class="p-5">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ordenes </h4>
        </div>
        <div class="card-body--">
            <div class="">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if orders}}
                        
                        {{#each orders}}
                        <tr role="row" class="odd">
                            <td>{{this.order_id}}</td>
                            <td class="sorting_1">{{this.name}}</td>
                            <td class="sorting_1">{{this.pname}}</td>
                            <td class="sorting_1">{{this.quantity}}</td>
                            <td class="sorting_1">
                                
                                {{#switch this.stat }}
                                    {{#case 'PENDIENTE'}} <span class="bg-warning">{{this.stat}}</span>{{/case}}
                                    {{#case 'COMPLETADO'}} <span class="bg-success">{{this.stat}}</span> {{/case}}
                                    {{#case 'RECHAZADO'}} <span class="bg-danger">{{this.stat}}</span>{{/case}}
                                
                                {{/switch}}
                                
                            </td>
                            <td>
                                <center>
                                    
                                    <a href="orders/apro/{{this.order_id}}" class="btn btn-success"><i class="fas fa-edit">aprobar</i></a>
                                    <a href="orders/rech/{{this.order_id}}" class="btn btn-danger"><i class="fas fa-edit"></i>Rechazar</a>
                            
                                </center>
                            </td>
                        </tr>
                        {{/each}}
                        {{else}}
                        
                        {{/if}}
                    </tbody>
                </table>
                
            </div> <!-- /.table-stats -->
        </div>
    </div>
</section>