<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Almacén</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Table</a></li>
                            <li class="active">Data table</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>message}}
<div class="col-md-12">
    <button title="Añadir Nuevo" class="btn btn-success btn-sm" onclick="setWarehouse()">
        <i class="fa fa-plus"></i>
        Nuevo Almacén
    </button>
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Tabla de Almacén</strong>

        </div>
        <div class="card-body">
            <div id="bootstrap-data-table_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Dirección</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#if warehouses}}

                                {{#each warehouses}}
                                <tr role="row" class="odd">
                                    <td>{{this.warehouse_id}}</td>
                                    <td class="sorting_1">{{this.name}}</td>
                                    <td class="sorting_1">{{this.address}}</td>
                                    <td>
                                        <center>
                                            <button class="btn btn-warning" title="Editar Tipo"
                                                onclick="updateWarehouse('{{this.warehouse_id}}','{{this.name}}','{{this.address}}')"><i
                                                    class="fa fa-edit"></i></button>

                                            <a href="warehouses/delete/{{this.warehouse_id}}" class="btn btn-danger"><i
                                                    class="fas fa-trash"></i></a>

                                        </center>
                                    </td>
                                </tr>
                                {{/each}}
                                {{else}}

                                {{/if}}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>