<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Ventas realizadas</h1>
    <a href="/sales/reporte" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generar Reporte</a>
</div>
{{>message}}
<div class="card">
    <div>
        <button title="Añadir Nuevo" class="btn btn-info btn-sm" onclick="setSale()">
            <i class="fa fa-plus"></i>
            Realizar venta
        </button>
        <!--<a href="/sales/reporte" class="btn btn-warning btn-sm"><i class="fas fa-print">Reporte</i></a>-->
    </div>

</div>
<div class="row">
    <div class="col-md-12 mt-3">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Producto</th>
                    <th>Foto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {{#if sales}}

                {{#each sales}}
                <tr role="row" class="odd">
                    <td class="sorting_1">{{this.sale_id}}</td>
                    <td class="sorting_1">{{this.item}}</td>
                    <td class="sorting_1">
                        <center>
                            <img class="" src="img/upload/{{picture}}" width="100" height="100" alt="Card image cap">
                        </center>
                    </td>
                    <td class="sorting_1">{{this.price}}</td>
                    <td class="sorting_1">{{this.quantity}}</td>
                    <td class="sorting_1">{{this.total}}</td>
                </tr>
                {{/each}}
                {{else}}

                {{/if}}
            </tbody>
        </table>
    </div>

</div>